[
	{
		"key": "datr",
		"value": "DN2_aXFUcaL_mTNWFkRT8A4i",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.978Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "wd",
		"value": "1920x919",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.978Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "sb",
		"value": "Od2_aQv6kjGW2XzvkSc4AAPC",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.979Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "ps_l",
		"value": "1",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.979Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "ps_n",
		"value": "1",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.979Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "c_user",
		"value": "61577664091866",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.979Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "presence",
		"value": "C%7B%22lm3%22%3A%22g.2172183156945782%22%2C%22t3%22%3A%5B%5D%2C%22utc3%22%3A1775101671466%2C%22v%22%3A1%7D",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.979Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "fr",
		"value": "1bwWalkwmSQA8gqN8.AWdfC_Y5INR1J9CRLTd2yhLJ2a1zuxdnsLUKba5MNkoP5VdTHlw.BpzlKs..AAA.0.0.BpzlSi.AWdarq9Vj5lmjpXA0sM_JNQp1xA",
		"expires": "2026-07-01T11:36:02.000Z",
		"maxAge": 7776000,
		"domain": "facebook.com",
		"path": "/",
		"secure": true,
		"httpOnly": true,
		"extensions": [
			"SameSite=None"
		],
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.979Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "xs",
		"value": "7%3AkRL6HMhi9txxjg%3A2%3A1774395190%3A-1%3A-1%3A%3AAczjpkbX8Hjy3rGvzNC0vP9LOJ8QGXDIX2X8XvB1dds",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.979Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "datr",
		"value": "DN2_aXFUcaL_mTNWFkRT8A4i",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.978Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "wd",
		"value": "1920x919",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.978Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "sb",
		"value": "Od2_aQv6kjGW2XzvkSc4AAPC",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.979Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "ps_l",
		"value": "1",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.979Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "ps_n",
		"value": "1",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.979Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "c_user",
		"value": "61577664091866",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.979Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "presence",
		"value": "C%7B%22lm3%22%3A%22g.2172183156945782%22%2C%22t3%22%3A%5B%5D%2C%22utc3%22%3A1775101671466%2C%22v%22%3A1%7D",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.979Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "fr",
		"value": "1bwWalkwmSQA8gqN8.AWdfC_Y5INR1J9CRLTd2yhLJ2a1zuxdnsLUKba5MNkoP5VdTHlw.BpzlKs..AAA.0.0.BpzlSi.AWdarq9Vj5lmjpXA0sM_JNQp1xA",
		"expires": "2026-07-01T11:36:02.000Z",
		"maxAge": 7776000,
		"domain": "facebook.com",
		"path": "/",
		"secure": true,
		"httpOnly": true,
		"extensions": [
			"SameSite=None"
		],
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.979Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "xs",
		"value": "7%3AkRL6HMhi9txxjg%3A2%3A1774395190%3A-1%3A-1%3A%3AAczjpkbX8Hjy3rGvzNC0vP9LOJ8QGXDIX2X8XvB1dds",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2026-04-02T11:36:00.979Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	},
	{
		"key": "fr",
		"value": "1bwWalkwmSQA8gqN8.AWdfC_Y5INR1J9CRLTd2yhLJ2a1zuxdnsLUKba5MNkoP5VdTHlw.BpzlKs..AAA.0.0.BpzlSi.AWdarq9Vj5lmjpXA0sM_JNQp1xA",
		"expires": "2026-07-01T11:36:02.000Z",
		"maxAge": 7776000,
		"domain": "messenger.com",
		"path": "/",
		"secure": true,
		"httpOnly": true,
		"extensions": [
			"SameSite=None"
		],
		"hostOnly": false,
		"creation": "2026-04-02T11:36:02.053Z",
		"lastAccessed": "2026-04-02T11:36:07.000Z"
	}
]